{% extends 'music/base.html' %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-md-4">
        <div class="card shadow-lg p-4 text-center">
            <h3 class="mb-4 fw-bold" style="color: #40c4ff;">Iniciar Sessão</h3>
            <form method="post">
                {% csrf_token %}
                <div class="text-start mb-3">
                    <label class="small fw-bold mb-1" style="color: #b3b3b3;">Usuário:</label>
                    <input type="text" name="username" class="form-control" placeholder="geovane" required>
                </div>
                <div class="text-start mb-4">
                    <label class="small fw-bold mb-1" style="color: #b3b3b3;">Senha:</label>
                    <input type="password" name="password" class="form-control" placeholder="********" required>
                </div>
                <button type="submit" class="btn btn-success w-100 fw-bold">Entrar</button>
            </form>
            <p class="text-footer-white">Acesso restrito a utilizadores autorizados.</p>
        </div>
    </div>
</div>
{% endblock %}